body{
    font-family: 'Poppins', sans-serif;
    background-color: azure;
}

nav{
    width: 100%;
    justify-content: space-between;
    position: sticky;
    top: 2px;
    border-radius: 15px;
    background-color: azure;
}

.h1{
    margin-left: 10px;
    color: green;
    font-size: 30px;
}

nav ul li{
    margin-right: 20px;
    display: inline-block;
    padding-right: 30px;
}

.button{
    border: 0px none;
    background-color: green;
    padding: 15px;
    font-family: 'Poppins';
    color: azure;
    border-radius: 10px;
}

.block_2{
    display: flex;
    height: 580px;
}

.pass{
    height: fit-content;
    width: 450px;
    text-align: justify;
    margin-left: 200px;
    padding-right: 100px;
}

.pass h1{
    color: green(11, 238, 49);
}

.button_2{
    border: 0px none;
    background-color: green;
    height: fit-content;
    padding: 20px;
    font-family: 'Poppins';
    color: azure;
    font-size: 15px;
    border-radius: 10px;
}

.img{
    height: fit-content;
    width: 650px;
    text-align: justify;
}

.search_bar{
    width: 80%;
    justify-content: space-between;
    text-align: justify;
    background-color: aquamarine;
    padding: 20px;
    margin-left: 120px;
}

.search_bar li{
    display: inline-flex;
    justify-content: space-between;
    padding-right: 65px;

}
.search_bar ul li input{
    padding: 15px 70px;
    border-radius: 10px;
}

.button_3{
    border: 0px none;
    background-color: rgb(59, 59, 220);
    padding: 15px;
    font-size: 13px;
    font-family: 'Poppins';
    color: azure;
    border-radius: 10px;
}

.block_3{
    width: 83%;
    margin-left: 120px;
}

.text{
    text-align: left ;
    background-color: azure;
    padding: 20px;
    display: inline-flex;
}

.blk_1{
    width: 50%;
}

.blk_1 h1{
    color: green;
}

.but{
    margin-top: 14%;
    width: 50%;
    text-align: right;
}

.but button{
    justify-content: space-between;
    padding: 10px 30px;
    font-family: 'Poppins';
    border-radius: 10px;
    border-color: aquamarine;
}

.options{
    margin: 15px;
    text-align: center;
}

.type {
    text-align: left;
    display: inline-block;
    height: 550px;
    width: 450px;
    background-color: azure;
    border-radius: 10px;
    margin-bottom: 15px;    
}

.type img{
    width: 90%;
    height: 300px;
    border-radius: 10px;
    margin: 10px;
}

.type h3, h4{
    margin-left: 25px;
}

.type p{
    margin-right: 10px;
}

.type li{
    display: inline-flex;
    justify-content: space-between;
    padding: 10px 25px; 
}

.button_4{
    border: 0px none;
    font-size: 20px;
    background-color: green;
    padding: 25px 35px;
    font-family: 'Poppins';
    color: azure;
    border-radius: 10px;
    border-color: rgb(1, 159, 106);
}

.block_4{
    margin-left: 120px;
    width: 83%;
    height: 400px;
    display: inline-flex;
}

.block_4 img{
    margin: 30px 30px 30px 80px; 
}

.text_1{
    margin: 70px;
    text-align: center;
}

.text_1 h1{
    color: green;
}

.text_1 button{
    font-size: 20px;
    border: 0px none;
    background-color: rgb(49, 49, 158);
    padding: 15px 15px;
    font-family: 'Poppins';
    color: azure;
    border-radius: 10px;
}

.property_agents{
    margin-left: 120px;
    width: 83%;
}

.property_agents h1, p{
    text-align: center;
}

.agents{
    padding: 10px;
    margin-left: 90px;
    text-align: center;
    display: inline-flex;
}

.client{
    margin-left: 120px;
    width: 83%;
    text-align: center;
}

.comment{
    text-align: left;
    height: 250px;
    margin: 10px;
    display: inline-flex;
    padding: 15px;
}

.com_1{
    padding: 15px;
    border: 1px dotted greenyellow;
}

.com_1_1{
    margin: 10px;
    display: inline-flex; 
      
}

.com_1_1 img{
    padding-right: 15px;
}

.last_section{
    color: azure;
    width: 83%;
    margin-left: 120px;
    height: 300px;
    background-color: rgb(20, 20, 116);
    display: inline-flex;
    padding-left: 50px;
}

.getintouch{
    width: fit-content;
    height: 200px;
    margin: 20px;
    text-align: left;
}

.Quick_links{
    width: fit-content;
    height: 200px;
    margin: 20px;
}

.Photo_Gallery{
    width: fit-content;
    height: 200px;
    margin: 20px;
}

.NewsLetter{
    width: 100%;
    height: 200px;
    margin: 20px;
}

.NewsLetter div{
    justify-content: space-between;
}
.NewsLetter input{
    color: blue;
    padding: 5px 28px;
    border-radius: 10px;
}

.NewsLetter button{
    border: 0px none;
    background-color: green;
    padding: 9px 6px;
    font-family: 'Poppins';
    color: azure;
    border-radius: 10px;
}

footer{
    margin-left: 120px;
}